<div class="card mb-3" style="max-width: 50rem;">
    <div class="card-header">
        <button mat-list-item >
            <mat-icon mat-list-icon>home</mat-icon>Home
        </button>
    </div>
    <div class="card-body">
        <button mat-list-item routerLink="profile" routerLinkActive="active">
            <mat-icon mat-list-icon >account_circle</mat-icon>Perfil
        </button>
        <button mat-list-item routerLink="lista-notas" routerLinkActive="active">
            <mat-icon mat-list-icon >bookmark</mat-icon>My Notes
           
        </button>
      <button mat-list-item>
        <mat-icon mat-list-icon>logout</mat-icon>Salir
      </button>      
    </div>
  </div>   


