<div class="form" style="display: flexbox; float: right;" >
<form [formGroup]="formEditar" (ngSubmit)="editar()">
  <div class="form-group">
    <label for="email">Titulo</label>
    <input type="text" class="form-control" formControlName="titulo">
  </div>
  <div class="form-group">
    <label for="pwd">Descripcion</label>
    <input  type="text" class="form-control" id="pwd" formControlName="descripcion">
  </div>
  <div class="checkbox">
    <label><input type="checkbox" formControlName="terminada"> Tarea terminada</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>